<%= javascript_include_tag "jquery-1.7.2"  %>
<style type="text/css">
  .button_state
  {
      background: #810 30% url(/images/alert-overlay.png) repeat-x;
      display: inline-block;
      padding: 5px 10px 6px;
      color: white;
      height: 25px;
      text-decoration: none;
      font-weight: bold;
      line-height: 1;
      -webkit-box-shadow: 0 1px 3px #999;
      text-shadow: 0 -1px 1px #222;
      border-bottom: 1px solid #222;
      position: relative;
      cursor: pointer;
      font-size: 11px;
      margin-right: 5px;
  }
</style>
<script type="text/javascript">
  function select_state_inactive()
  {
     $('#state').removeAttr('name');
     $('#state_inactive').attr('name','pastor[state_inactive]');
  }
  function select_state()
  {
      $('#state_inactive').removeAttr('name');
      $('#state').attr('name','pastor[state]');
  }
</script>
<h3>Eliminacion</h3>

<% form_for(@pastor) do |f| %>

<label><input id="state" type="radio" name="pastor[state]" value="FALSE" onclick="select_state()">Eliminar permanentemente</label></br>
<label><input id="state_inactive" type="radio" name="pastor[state_inactive]" value="0" onclick="select_state_inactive()">Poner en Inactivo</label></br></br></br>
  <input type="submit" class="button_state" value="Guardar"><input type="button"  class="button_state nyroModalClose" value="Cancelar" />
<%end%>