<h1>Ver Grupo</h1>

<table>

  <tr>
    <td>Nombre</td>
    <td><%=h @group.name %></td>
  </tr>

  <!--<tr>
    <td>Responsable</td>
    <td><%#=h @group.volunteer %></td>
  </tr>-->

  <tr align="right">
    <td colspan="2">
      <%= link_to 'Editar', edit_group_path(@group) %> |
      <%= link_to 'Volver', groups_path %>
    </td>
  </tr>

</table>