<div id="content-wrap">
    		<%= render "main_page/lateralMenu.html" %>
  
  <div id="main" >
          <CENTER><h1><%=h @campaing.name %></h1></center>          
          
          <br/>
          <br/>
          <p class="campaniaContent">
            <b>Fecha de inicio:<%= @campaing.date_ini %></b>  
          </p>                   

          <p class="campaniaContent">
          <b>Descripcion:</b>
          <br/>
          <%=h @campaing.description %>
          </p>
          
  </div>           
  


