<p>
  <b>Name:</b>
  <%=h @help_type.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @help_type.description %>
</p>


<%= link_to 'Edit', edit_help_type_path(@help_type) %> |
<%= link_to 'Back', help_types_path %>