<%if current_user%> <h1>Ver Tipo de Beneficiario</h1>
<table>

	<tr>
		<td><b>Nombre</b></td>
		<td><%= h @beneficiary_type.name %></td>
	</tr>

	<tr>
		<td><b>Descripcion</b></td>
		<td><%= h @beneficiary_type.description %></td>
	</tr>
	<tr align="right">
		<td colspan="2"> <%= link_to 'Editar', edit_beneficiary_type_path(@beneficiary_type) %> |
		<%= link_to 'Volver', beneficiary_types_path %> </td>
	</tr>
</table>
<%else%>
<h2>No puede realizar esta acción, por favor contáctese con el administrador del sistema</h2>
<%end%>