<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.caritassbba.org" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="author" content="Taller de desarrollo" />
<link rel="stylesheet" href="images/Caritas.css" type="text/css" />

</head>

<body>

		 <p>
              &copy; 2011<strong> Taller de desarrollo - UCB II-11</strong>&nbsp;&nbsp;&nbsp;&nbsp;


              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

              <a href="index.html">Inicio</a>&nbsp;|&nbsp;
              <a href="index.html">Contactanos</a>&nbsp;|&nbsp;
              <a href="index.html">Documentos</a>
            </p>
</body>
</html>