<div id="notice">

  <h3>Campañas</h3>
    <ul>
       <% Campaing.find_last_five.each do |campaing| %>
          <li><%= link_to "#{campaing.name}-> #{campaing.date_ini}", campaing%></li>
          <% end %>
      <li>+Ver mas</li>

    </ul>
    <h3>Ultimas noticias</h3>
    <ul>
  <li><a href="index.html">01/10/11 17:30 Noticia 1</a></li>
  <li><a href="index.html">06/10/11 11:21 Noticia 2</a></li>
  <li><a href="index.html">15/10/11 20:41 Noticia 3</a></li>
  <li><a href="index.html">23/10/11 08:59 Noticia 4</a></li>
      <li>+Ver mas</li>

    </ul>
    <h3>Obras Sociales</h3>
    <ul>
  <li><a href="index.html">01/10/11 17:30 Obra 1</a></li>
  <li><a href="index.html">06/10/11 11:21 Obra 2</a></li>
  <li><a href="index.html">15/10/11 20:41 Obra 3</a></li>
  <li><a href="index.html">23/10/11 08:59 Obra 4</a></li>    <li>+Ver mas</li>

    </ul>
</div>