<div id="notice">
<<<<<<< HEAD
  <h3>Campañas</h3>
=======
  <h3>Ultimas Campañas</h3>
>>>>>>> 2ffbd7ba4e7459f97560e3d508a49ed06447c4c4
    <ul>
  <li><a href="index.html">01/10/11 17:30 Campaña 1</a></li>
  <li><a href="index.html">06/10/11 11:21 Campaña 2</a></li>
  <li><a href="index.html">15/10/11 20:41 Campaña 3</a></li>
  <li><a href="index.html">23/10/11 08:59 Campaña 4</a></li>
<<<<<<< HEAD
      <li>+Ver mas</li>
=======
>>>>>>> 2ffbd7ba4e7459f97560e3d508a49ed06447c4c4
    </ul>
    <h3>Ultimas noticias</h3>
    <ul>
  <li><a href="index.html">01/10/11 17:30 Noticia 1</a></li>
  <li><a href="index.html">06/10/11 11:21 Noticia 2</a></li>
  <li><a href="index.html">15/10/11 20:41 Noticia 3</a></li>
  <li><a href="index.html">23/10/11 08:59 Noticia 4</a></li>
<<<<<<< HEAD
      <li>+Ver mas</li>
=======
>>>>>>> 2ffbd7ba4e7459f97560e3d508a49ed06447c4c4
    </ul>
    <h3>Obras Sociales</h3>
    <ul>
  <li><a href="index.html">01/10/11 17:30 Obra 1</a></li>
  <li><a href="index.html">06/10/11 11:21 Obra 2</a></li>
  <li><a href="index.html">15/10/11 20:41 Obra 3</a></li>
  <li><a href="index.html">23/10/11 08:59 Obra 4</a></li>
<<<<<<< HEAD
      <li>+Ver mas</li>
=======
>>>>>>> 2ffbd7ba4e7459f97560e3d508a49ed06447c4c4
    </ul>
</div>