
<p>
  <a class="thumbnail" href="#thumb"><img src="images/campaings/1.jpg" width="100px" height="66px" border="0" /><span><img src="images/campaings/1.jpg" />
      Misa de Semana Santa.</span></a>

</p>