<p>
<a class="thumbnail" href="#thumb"><img src="http://www.todoblogger.com/wp-content/uploads/2010/07/arbol-chico.jpg" width="100px" height="66px" border="0" /><span><img src="http://www.todoblogger.com/wp-content/uploads/2010/07/arbol-grande.jpg" />
Un árbol.</span></a>
</p>