
<div id="highlight">
  <div id=photos>
<img src="/images/food-1.jpg" alt="" />
<img src="/images/food-2.jpg" alt="" />
<img src="/images/food-3.jpg" alt="" />
<img src="/images/food-4.jpg" alt="" />
  </div>

  <script type="text/javascript">sweet.slider('highlight','navegation',6)</script>
  <div id="navegation">
    <p class="selected"> <a href="javascript:;"><span>Yoyo</span><br />
      Rico yoyo casero</a></p>
    <p> <a href="javascript:;"><span>Torta</span><br />
      Torta con chupa-chupas</a></p>
    <p> <a href="javascript:;"><span>Masas</span><br />
      Masitas de cuidate</a></p>
    <p class="withoutborder"> <a href="javascript:;"><span>Alfajor</span><br />
      Torta alfajor</a></p>
  </div>
  <div class="navegationbg">&nbsp;</div>
</div>
